<html>
<head>
	<title>%(SITE_NAME)s :: %(title)s</title>
	<link rel="stylesheet" type="text/css" href="%(STATIC_URL)s/css/base.css" />
	<script src="%(STATIC_URL)s/js/jquery.js"></script>
	<script type="text/javascript">
	revert = '';

	function save_content() {
		var content = $('textarea.editbox').val();

		$.ajax({
			type: 'POST',
			url: '%(BASE_URL)s/%(title)s',
			cache: false,
			async: false,
			data: {
				content: content
			},
			success: function(txt) {
				revert = content;
				$('#content').html(txt);
			}
		});
	}

	function hide_textarea() {
		$('#editable').hide();
		$('#content').show();
		$('textarea.editbox').val(revert);
		setup_handlers();
	}

	function setup_handlers() {
		$('h1, h2, h3, h4, h5, h6, a.pagetitle').click(function() {
			revert = $('textarea.editbox').val();
			$('#content').hide()
			$('#editable').show();
			$('textarea.editbox').focus();

			$('#buttons .save').click(function() {
				save_content();
				hide_textarea();
			});
			$('#buttons .cancel').click(function() {
				hide_textarea();
			});
		});
	}

	$(document).ready(function() {
		revert = $('textarea.editbox').val();
		setup_handlers();
		if(document.location.protocol != 'https:') {
			$('#header').append('<div class="warning">This is an insecure page. <a href="#" name="secure">Switch to SSL</a></div>');

			$('[@name=secure]').click(function() {
				document.location.protocol = 'https';
			});
		}

		$('#delete').click(function() {
			if(!confirm('Are you sure you want to delete %(title)s?')) {
				return;
			}

			$.ajax({
				type: 'DELETE',
				url: '%(BASE_URL)s/%(title)s',
				success: function() {
					$('#content').html('Deleted. Go back to <a href="%(BASE_URL)s/Main_Page">Main_Page</a>?');
				}
			});
		});
	});
	</script>
</head>

<body>
<div id="container">
	<div id="header">
		<div class="top">
			<div class="name"><a href="%(BASE_URL)s/">%(SITE_NAME)s</a></div>
			<div class="links">
				<a href="#" class="pagetitle">%(title)s</a>
				<a href="#" id="delete">[x]</a>
			</div>
		</div>
		<div class="bottom">
			<div class="title">%(SITE_MOTTO)s</div>
		</div>
	</div>

	<div id="content">%(content)s</div>
	<div id="editable">
		<textarea class="editbox">%(raw_content)s</textarea>
		<div id="buttons"><input type="button" value="Save" class="save" /> or <input type="button" value="Cancel" class="cancel" /></div>
	</div>
</div>
</body>
</html>
